TheOpenCvAiSpace/DenseOpticalFlow/freud*

TheOpenCvAiSpace/LucasKanadeOpticalFlow/*_finished.avi

TheOpenCvAiSpace/LucasKanadeOpticalFlow/*.avi

KerasFactory/ArtGAN/ArtData/*
KerasFactory/ArtGAN/ArtData

KerasFactory/ArtGAN/ganArt/*
KerasFactory/ArtGAN/ganArt

